! These are all possible options, presented with default values.
! xst will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.
st.termname:     st-256color
! if you do not set shell, precedence is: -e arg, utmp option, SHELL env var, /etc/passwd shell
st.shell:        /bin/sh

! The following options options can be reloaded via USR1 signal.
st.font:              Liberation Mono:pixelsize=12:antialias=true:autohint=true;
st.borderpx:          10
! Available cursor values: 2 4 6 7 = █ _ | ☃ ( 1 3 5 are blinking versions)
st.cursorshape:       2
! thickness of underline and bar cursors
st.cursorthickness:   2
! 0: normal blinking, 1: leave cursor border and blink with cursor background
st.cursorblinkstyle:  0
! 0: cursor blinks with a constant interval; 1: blinking cycle resets on key input
st.cursorblinkontype: 1
st.bold_font:         0
st.xfps:              120
st.actionfps:         30
! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        100
! this is a char that is exposed like so: `printf '\033[z'`
st.prompt_char:       $

! opacity==255 means what terminal will be not transparent, 0 - fully transparent
st.opacity:      255





!Xft.dpi: 96
!Xft.antialias: true
!Xft.hinting: true
!Xft.rgba: rgb
!Xft.autohint: false
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault


!UXTerm*foreground:  #bbb6b4
!UXTerm*background:  #0d070c
!UXTerm*cursorColor: #bbb6b4

!XTerm*background: #2b2b2b
!XTerm*foreground: #e7e7e7
!XTerm*pointerColor: #16A085
!XTerm*faceName: Fixed
!XTerm*faceSize: 11


!*foreground:        #bbb6b4
!*background:        #0d070c

!*background:                      #272827
!*foreground:                      #657b83
!*fading:                          15
!*fadeColor:                       black
!*cursorColor:                     #73695E
!*pointerColorBackground:          #2B2C2B
!*pointerColorForeground:          #16A085

! black
! *.color0:       #24040A
! *.color8:       #24040A

! red
! *.color1:       #041E25
! *.color9:       #041E25

! green
! *.color2:       #A49C99
! *.color10:      #A49C99

! yellow
! *.color3:       #58322A
! *.color11:      #58322A

! blue
! *.color4:       #744C44
! *.color12:      #744C44

! magenta
! *.color5:       #42534B
! *.color13:      #42534B

! cyan
! *.color6:       #0F0C14
! *.color14: 	#0F0C14

! white
! *.color7:       #605667
! *.color15:      #605667

! Black + DarkGrey
!*color0:  #282828
!*color8:  #928374
! DarkRed + Red
!*color1:  #cc241d
!*color9:  #fb4934
! DarkGreen + Green
!*color2:  #98971a
!*color10: #b8bb26
! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #fabd2f
! DarkBlue + Blue
!*color4:  #458588
!*color12: #83a598
! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #d3869b
! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #8ec07c
! LightGrey + White
!*color7:  #a89984
!*color15: #ebdbb2



Xcursor.theme: Adwaita
Xcursor.size:                     0

!XTerm*background:                 #272827
!XTerm*foreground:                 #fdf6e3
XTerm*reverseVideo:               on
!XTerm*faceName:        
XTerm*selectToClipboard:          true

URxvt.font:                        xft:TerminessTTFNerdFontMono:size=10
!URxvt.font: 		           xft:Inconsolata:pixelsize=15
!terminal.font: 			   xft:TerminessTTFNerdFontMono:size=12
!URxvt.font: 			   xft:curie:pixelsize=20
!URxvt.font: 		           xft:tewi:pixelsize=10

! alternative font settings with 'terminus':
!URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
!! terminus names see end of file!

!URxvt*background:   [10]#0d070c
!URxvt*borderColor:  [10]#0d070c

!URxvt.depth:                      32
URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
!URxvt*background:                 black
!URxvt*foreground:                 grey
URxvt*saveLines:                  5000

URxvt.perl-ext-common: resize-font
!URxvt.perl-ext-common: font-size

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

! other possible settings:
! Rxvt.perl-ext-common:            ...,clipboard
! URxvt.keysym.M-C-c:              perl:clipboard:copy
! URxvt.keysym.M-v:                perl:clipboard:paste
! URxvt.keysym.M-C-v:              perl:clipboard:paste_escaped
! URxvt*termName:                  string
! URxvt*geometry:                  geometry
! URxvt*chdir:                     string
! URxvt*reverseVideo:              boolean
! URxvt*loginShell:                boolean
! URxvt*multiClickTime:            number
! URxvt*jumpScroll:                boolean
! URxvt*skipScroll:                boolean
! URxvt*pastableTabs:              boolean
! URxvt*scrollstyle:               plain
! URxvt*scrollBar_right:           boolean
! URxvt*scrollBar_floating:        true
! URxvt*scrollBar_align:           mode
! URxvt*thickness:                 number
! URxvt*scrollTtyOutput:           boolean
! URxvt*scrollTtyKeypress:         boolean
! URxvt*scrollWithBuffer:          boolean
! URxvt*tintColor:                 !7DA55
! URxvt*blurRadius:                HxV
! URxvt*fading:                    number
! URxvt*fadeColor:                 color
! URxvt*utmpInhibit:               boolean
! URxvt*urgentOnBell:              boolean
! URxvt*visualBell:                boolean
! URxvt*mapAlert:                  boolean
! URxvt*meta8:                     boolean
! URxvt*tripleclickwords:          boolean
! URxvt*insecure:                  boolean
! URxvt*cursorUnderline:           boolean
! URxvt*pointerBlank:              boolean
! URxvt*color0:                    color
! URxvt*color1:                    color
! URxvt*color2:                    color
! URxvt*color3:                    color
! URxvt*color4:                    color
! URxvt*color5:                    color
! URxvt*color6:                    color
! URxvt*color7:                    color
! URxvt*color8:                    color
! URxvt*color9:                    color
! URxvt*color10:                   color
! URxvt*color11:                   color
! URxvt*color12:                   color
! URxvt*color13:                   color
! URxvt*color14:                   color
! URxvt*color15:                   color
! URxvt*colorBD:                   color
! URxvt*colorIT:                   color
! URxvt*colorUL:                   color
! URxvt*colorRV:                   color
! URxvt*underlineColor:            color
! URxvt*scrollColor:               color
! URxvt*troughColor:               color
! URxvt*highlightColor:            color
! URxvt*highlightTextColor:        color
! URxvt*cursorColor:               color
! URxvt*cursorColor2:              color
! URxvt*pointerColor:              color
! URxvt*pointerColor2:             color
! URxvt*borderColor:               color
! URxvt*iconFile:                  file
! URxvt*font:                      fontname
! URxvt*boldFont:                  fontname
! URxvt*italicFont:                fontname
! URxvt*boldItalicFont:            fontname
! URxvt*intensityStyles:           boolean
! URxvt*inputMethod:               name
! URxvt*preeditType:               style
! URxvt*imLocale:                  string
! URxvt*imFont:                    fontname
! URxvt*title:                     string
! URxvt*iconName:                  string
! URxvt*buffered:                  boolean
! URxvt*depth:                     number
! URxvt*visual:                    number
! URxvt*transient-for:             windowid
! URxvt*override-redirect:         boolean
! URxvt*hold:                      boolean
! URxvt*externalBorder:            number
! URxvt*internalBorder:            number
! URxvt*borderLess:                true
! URxvt*lineSpace:                 number
! URxvt*letterSpace:               number
! URxvt*skipBuiltinGlyphs:         boolean
! URxvt*pointerBlankDelay:         number
! URxvt*backspacekey:              string
! URxvt*deletekey:                 string
! URxvt*print-pipe:                string
! URxvt*modifier:                  modifier
! URxvt*cutchars:                  string
! URxvt*answerbackString:          string
! URxvt*secondaryScreen:           boolean
! URxvt*secondaryScroll:           boolean
! URxvt*perl-lib:                  string
! URxvt*perl-eval:                 perl-eval
! URxvt*perl-ext-common:           string
! URxvt*perl-ext:                  string
! URxvt*iso14755:                  boolean
! URxvt*iso14755_52:               boolean
! URxvt*xrm:                       string
! URxvt*keysym.sym:                keysym
! URxvt*background.border:         boolean
! URxvt*background.expr:           string
! URxvt*background.interval:       seconds
! URxvt*bell-command:              string
! URxvt*kuake.hotkey:              string
! URxvt*matcher.button:            string
! URxvt*matcher.launcher:          string
! URxvt*matcher.launcher.*:        string
! URxvt*matcher.pattern.*:         string
! URxvt*matcher.rend.*:            string
! URxvt*remote-clipboard.fetch:    string
! URxvt*remote-clipboard.store:    string
! URxvt*searchable-scrollback:     string
! URxvt*selection-autotransform.*: string
! URxvt*selection-pastebin.cmd:    string
! URxvt*selection-pastebin.url:    string
! URxvt*selection.pattern-0:       string
! URxvt*tab-bg:                    colour
! URxvt*tab-fg:                    colour
! URxvt*tabbar-bg:                 colour
! URxvt*tabbar-fg:                 colour
! URxvt*url-launcher:              string

! The Terminus font uses the following X-names:
! -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-medium-r-normal--22-220-72-72-c-110-iso10646-1
! -xos4-terminus-medium-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-medium-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-medium-r-normal--32-320-72-72-c-160-iso10646-1
! -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-bold-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-bold-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-bold-r-normal--32-320-72-72-c-160-iso10646-1
